/*Mobile Device Screens*/
@media screen and (min-width: 320px) and (max-width: 500px) {
    
    html, body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px; 
        overflow-x: hidden;
    }
    
    .title-background{
        background-color: black;
        height: 700px;
        width: 100%;
        overflow: hidden;
    }
      
    #logo{
        position: absolute;
        color: black;
        font-size: 50px;
        top: 50%;
        left: 50%;
        width: 75%;
        position: static;
        transform: translate(50px, 250px);
        }   

        #logo path:nth-child(1){
            stroke-dasharray: 336.6719970703125;
            stroke-dashoffset: 336.6719970703125;
            animation: line-anim 2s ease forwards;
          }
          
          #logo path:nth-child(2){
              stroke-dasharray: 549.06640625;
              stroke-dashoffset: 549.06640625;
              animation: line-anim 2s ease forwards 0.3s;
          }
          
          #logo path:nth-child(3){
              stroke-dasharray: 490.2921142578125;
              stroke-dashoffset: 490.2921142578125;
              animation: line-anim 2s ease forwards 0.6s;
          }
          
          #logo path:nth-child(4){
              stroke-dasharray: 493.913330078125;
              stroke-dashoffset: 493.913330078125;
              animation: line-anim 2s ease forwards 0.9s;
          }
          
          #logo path:nth-child(5){
              stroke-dasharray: 534.5279541015625;
              stroke-dashoffset: 534.5279541015625;
              animation: line-anim 2s ease forwards 1.2s;
          }
          
          #logo path:nth-child(6){
              stroke-dasharray: 534.5279541015625;
              stroke-dashoffset: 534.5279541015625;
              animation: line-anim 2s ease forwards 1.5s;
          }
          
          
          #logo path:nth-child(7){
              stroke-dasharray: 565.9514770507812;
              stroke-dashoffset: 565.9514770507812;
              animation: line-anim 2s ease forwards 1.8s;
          }
          
          #logo path:nth-child(8){
              stroke-dasharray: 549.0670776367188;
              stroke-dashoffset: 549.0670776367188;
              animation: line-anim 2s ease forwards 2.1s;
          }
          
          #logo path:nth-child(9){
              stroke-dasharray: 754.9266357421875;
              stroke-dashoffset: 754.9266357421875;
              animation: line-anim 2s ease forwards 2.4s;
          }
          
          #logo path:nth-child(10){
              stroke-dasharray: 754.9266357421875;
              stroke-dashoffset: 754.9266357421875;
              animation: line-anim 2s ease forwards 2.7s;
          }
          
          #logo path:nth-child(11){
              stroke-dasharray: 549.0673217773438;
              stroke-dashoffset: 549.0673217773438;
              animation: line-anim 2s ease forwards 3.0s;
          }
          
          
          
          #logo path:nth-child(12){
              stroke-dasharray: 549.0673217773438;
              stroke-dashoffset: 549.0673217773438;
              animation: line-anim 2s ease forwards 3.3s;
          }
          
          #logo path:nth-child(13){
              stroke-dasharray: 336.6719970703125;
              stroke-dashoffset: 336.6719970703125;
              animation: line-anim 2s ease forwards 3.8s;
          }
          
          
          #logo path:nth-child(14){
              stroke-dasharray: 490.2921142578125;
              stroke-dashoffset: 490.2921142578125;
              animation: line-anim 2s ease forwards 4.1s;
          }
          
          #logo path:nth-child(15){
              stroke-dasharray: 493.913330078125;
              stroke-dashoffset: 493.913330078125;
              animation: line-anim 2s ease forwards 4.4s;
          }
          
          
          #logo path:nth-child(16){
              stroke-dasharray: 534.5279541015625;
              stroke-dashoffset: 534.5279541015625;
              animation: line-anim 2s ease forwards 4.7s;
          }
          
          
          #logo path:nth-child(17){
              stroke-dasharray: 385.0559997558594;
              stroke-dashoffset: 385.0559997558594;
              animation: line-anim 2s ease forwards 5.0s;
          }
          
          
          #logo path:nth-child(18){
              stroke-dasharray: 565.9514770507812;
              stroke-dashoffset: 565.9514770507812;
              animation: line-anim 2s ease forwards 5.3s;
          }
          
          #logo path:nth-child(19){
              stroke-dasharray: 549.0670776367188;
              stroke-dashoffset: 549.0670776367188;
              animation: line-anim 2s ease forwards 5.6s;
          }
          
          #logo path:nth-child(20){
              stroke-dasharray: 754.9266357421875;
              stroke-dashoffset: 754.9266357421875;
              animation: line-anim 2s ease forwards 5.9s;
          }
          
          #logo path:nth-child(21){
              stroke-dasharray: 463.96795654296875;
              stroke-dashoffset: 463.96795654296875;
              animation: line-anim 2s ease forwards 6.2s;
          }
          
          #logo path:nth-child(22){
              stroke-dasharray: 549.0673217773438;
              stroke-dashoffset: 549.0673217773438;
              animation: line-anim 2s ease forwards 6.5s;
          }
          
          
          
          
          @keyframes line-anim{
              to{
                  stroke-dashoffset: 0;
              }
          }
          
          .scrollDown{
             position: relative;
             bottom: 20px;
             left: 50%;
             width: 40px;
             height: 40px;
              transform: translateY(380px) translateX(750px) 
              rotate(45deg);
              display: none;
          }
          
          .scrollDown span{
              position: relative;
              top: 0;
              left: 0; 
              width: 100%;
              height: 100%;
              border-bottom: 2px solid #fff;
              border-right: 2px solid #fff;
              animation: animate 1.5s linear infinite;
              opacity: 0;
              display: none;
          }
          
          .scrollDown span:nth-child(1){
              transform: translate(-15px, 70px);
              animation-delay: -0.4s;
              display: none;
          }
          
          .scrollDown span:nth-child(2){
              transform: translate(0px, 41px);
              animation-delay: -0.2s;
              display: none;
          }
          
          .scrollDown span:nth-child(3){
              transform: translate(15px, 15px);
              animation-delay: 0s;
              display: none;
          }
          
          @keyframes animate{
              0%{
                  top: -5px;
                  left: -5px;
                  opacity: 0;
              }
              25%{
                  top: 0px;
                  left: 0px;
                  opacity: 1;
              }
              50%, 100%{
                  top: 5px;
                  left: 5px;
                  opacity: 0; 
              }
          }   
          
          .bar{

            width: 100%;
            height: 50px;
            transform: translateY(-700px);
            display: none;
        }
        
        .home{
        
            font-family: 'Lexend Exa', sans-serif;
            font-size:  20px;
            color: #AFAB8E;
            float: right;
            padding: 25px;
            display: none;
        }
        
        .about{
        
            font-family: 'Lexend Exa', sans-serif;
            font-size:  20px;
            color: #AFAB8E;
            float: right;
            padding: 25px;
            display: none;
         
        }
        
        .shop{
        
            font-family: 'Lexend Exa', sans-serif;
            font-size:  20px;
            color: #AFAB8E;
            float: right;
            padding: 25px;
            display: none;
        
        }

          .change-background{
            width: 100%;
            transform: translate(-100px, -100px);
            display: flex;
            flex-direction: column;
            justify-content: row;
            background-color: black;
            padding-top: 200px;
            padding-left: 200px;
           
        }
        

        .change-picture{
            font-family: 'Lexend Exa', sans-serif;
            font-size:  25px;
            text-align: center;
            color: black;
            background-color: grey;
            height: 305px;
            padding: 50px 10px 100px 0px;
            flex-direction: row;
            transform: translate(-200px, -125px);
            z-index: 2;
        
        }
        
        .change{
            text-align: center;
            background-color: black;
            font-family: 'Lexend Exa', sans-serif;
            font-size:  15px;
            color: #AFAB8E;
            transform: translateY(225px);
        }
        
        
        .work-background{
            background-color: black;
            width: 100%;
            height: 650px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            transform: translateY(-300px);
        }

        .work{
            font-family: 'Lexend Exa', sans-serif;
            font-size:  35px;
            color: black;
            background-color: white;
            border-style: solid;
            padding: 150px;
            transform: translate(100px, -5px);
            z-index:  1;
            
        }
        
        
        .textWork{
            font-family: 'Lexend Exa', sans-serif;
            font-size:  20px;
            color: white;
            background-color: black;
            padding: 100px;
            
        }
           
        .story-background{
            width: 100%;
            height: 750px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            background-color: black;
            transform: translateY(-300px);
        }
        
        .dev1{
            font-family: 'Lexend Exa', sans-serif;
            color: #AFAB8E;
            font-size: 4vw;
            text-align: center;
            transform: translateY(50px);
            padding: 100px;
        }
        
        
        .collection-background{
            background-color:white;
            width: 100%;
            height: 700px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border-style: solid;
            transform: translate(-2px, -325px);
        }
        
        .collection-background p{
            font-family: 'Lexend Exa', sans-serif;
            color: black;
            text-align: center;
        }
        
        .collection{
            font-size: 25px;
        }
        
        .shopNowBackground{
            text-align: center;
            display: flex;
            justify-content: space-evenly;
        }
        .shopNow{
            font-family: 'Lexend Exa', sans-serif;
            font-size: 20px;
            color: black;
            width: 250px;
            border-style: solid;
            
        }

        #collectionBar{
            transform: translateY(-100px);
            display: none;

        }
        .collection-products{
            width: 100%;
            display: flex;
            height: 650px;
            flex-direction: column;
            justify-content: space-around;
            background-color: black;
            transform: translateY(200px);
        }

        .collection-products img{
            height: 600px;
            width: 500px;
        }
    
        #firstImage p{
            transform: translate(200px, -300px);
            background-color: white;
            font-family: 'Lexend Exa', sans-serif;
            font-size: 20px;
            width: 75px;
            display: none;
        
        }
    #secondImage p{
        transform: translate(200px, -300px);
        background-color: white;
        font-family: 'Lexend Exa', sans-serif;
        font-size: 20px;
        width: 75px;
        display: none;
    }

        #thirdImage p{
            transform: translate(200px, -300px);
            background-color: white;
            font-family: 'Lexend Exa', sans-serif;
            font-size: 20px;
            width: 75px;
            display: none;
        }
     
    .ending-container{
        background-color:white;
        width: 100%;
        height: 150px;
    }
    
    .endingText{
        font-family: 'Lexend Exa', sans-serif;
        text-align: center;
        background-color: black;
        color: white;
        height:150px;
        transform: translateY(700px);
    }
    
    #endBar{
        transform: translate(-50px, 750px);
        padding: 50px;
    }
}

 /*end of mobile screen code*/ 

 @media screen and (min-width: 501px) and (max-width: 900px){
html, body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px; 
    overflow-x: hidden;
}

.title-background{
    background-color: black;
    height: 700px;
    width: 100%;
    overflow: hidden;
}
  

    #logo{
        position: absolute;
        color: #AFAB8E;
        font-size: 50px;
        top: 50%;
        left: 50%;
        width: 75%;
        position: static;
        transform: translate(100px, 250px);
        }   

  

#logo path:nth-child(1){
  stroke-dasharray: 336.6719970703125;
  stroke-dashoffset: 336.6719970703125;
  animation: line-anim 2s ease forwards;
}

#logo path:nth-child(2){
    stroke-dasharray: 549.06640625;
    stroke-dashoffset: 549.06640625;
    animation: line-anim 2s ease forwards 0.3s;
}

#logo path:nth-child(3){
    stroke-dasharray: 490.2921142578125;
    stroke-dashoffset: 490.2921142578125;
    animation: line-anim 2s ease forwards 0.6s;
}

#logo path:nth-child(4){
    stroke-dasharray: 493.913330078125;
    stroke-dashoffset: 493.913330078125;
    animation: line-anim 2s ease forwards 0.9s;
}

#logo path:nth-child(5){
    stroke-dasharray: 534.5279541015625;
    stroke-dashoffset: 534.5279541015625;
    animation: line-anim 2s ease forwards 1.2s;
}

#logo path:nth-child(6){
    stroke-dasharray: 534.5279541015625;
    stroke-dashoffset: 534.5279541015625;
    animation: line-anim 2s ease forwards 1.5s;
}


#logo path:nth-child(7){
    stroke-dasharray: 565.9514770507812;
    stroke-dashoffset: 565.9514770507812;
    animation: line-anim 2s ease forwards 1.8s;
}

#logo path:nth-child(8){
    stroke-dasharray: 549.0670776367188;
    stroke-dashoffset: 549.0670776367188;
    animation: line-anim 2s ease forwards 2.1s;
}

#logo path:nth-child(9){
    stroke-dasharray: 754.9266357421875;
    stroke-dashoffset: 754.9266357421875;
    animation: line-anim 2s ease forwards 2.4s;
}

#logo path:nth-child(10){
    stroke-dasharray: 754.9266357421875;
    stroke-dashoffset: 754.9266357421875;
    animation: line-anim 2s ease forwards 2.7s;
}

#logo path:nth-child(11){
    stroke-dasharray: 549.0673217773438;
    stroke-dashoffset: 549.0673217773438;
    animation: line-anim 2s ease forwards 3.0s;
}



#logo path:nth-child(12){
    stroke-dasharray: 549.0673217773438;
    stroke-dashoffset: 549.0673217773438;
    animation: line-anim 2s ease forwards 3.3s;
}

#logo path:nth-child(13){
    stroke-dasharray: 336.6719970703125;
    stroke-dashoffset: 336.6719970703125;
    animation: line-anim 2s ease forwards 3.8s;
}


#logo path:nth-child(14){
    stroke-dasharray: 490.2921142578125;
    stroke-dashoffset: 490.2921142578125;
    animation: line-anim 2s ease forwards 4.1s;
}

#logo path:nth-child(15){
    stroke-dasharray: 493.913330078125;
    stroke-dashoffset: 493.913330078125;
    animation: line-anim 2s ease forwards 4.4s;
}


#logo path:nth-child(16){
    stroke-dasharray: 534.5279541015625;
    stroke-dashoffset: 534.5279541015625;
    animation: line-anim 2s ease forwards 4.7s;
}


#logo path:nth-child(17){
    stroke-dasharray: 385.0559997558594;
    stroke-dashoffset: 385.0559997558594;
    animation: line-anim 2s ease forwards 5.0s;
}


#logo path:nth-child(18){
    stroke-dasharray: 565.9514770507812;
    stroke-dashoffset: 565.9514770507812;
    animation: line-anim 2s ease forwards 5.3s;
}

#logo path:nth-child(19){
    stroke-dasharray: 549.0670776367188;
    stroke-dashoffset: 549.0670776367188;
    animation: line-anim 2s ease forwards 5.6s;
}

#logo path:nth-child(20){
    stroke-dasharray: 754.9266357421875;
    stroke-dashoffset: 754.9266357421875;
    animation: line-anim 2s ease forwards 5.9s;
}

#logo path:nth-child(21){
    stroke-dasharray: 463.96795654296875;
    stroke-dashoffset: 463.96795654296875;
    animation: line-anim 2s ease forwards 6.2s;
}

#logo path:nth-child(22){
    stroke-dasharray: 549.0673217773438;
    stroke-dashoffset: 549.0673217773438;
    animation: line-anim 2s ease forwards 6.5s;
}




@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}

.scrollDown{
   position: relative;
   bottom: 20px;
   left: 50%;
   width: 40px;
   height: 40px;
    transform: translateY(380px) translateX(750px) 
    rotate(45deg);
}

.scrollDown span{
    position: relative;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    animation: animate 1.5s linear infinite;
    opacity: 0;
}

.scrollDown span:nth-child(1){
    transform: translate(-15px, 70px);
    animation-delay: -0.4s;
}

.scrollDown span:nth-child(2){
    transform: translate(0px, 41px);
    animation-delay: -0.2s;
}

.scrollDown span:nth-child(3){
    transform: translate(15px, 15px);
    animation-delay: 0s;
}

@keyframes animate{
    0%{
        top: -5px;
        left: -5px;
        opacity: 0;
    }
    25%{
        top: 0px;
        left: 0px;
        opacity: 1;
    }
    50%, 100%{
        top: 5px;
        left: 5px;
        opacity: 0; 
    }
}
.bar{

    width: 100%;
    height: 50px;
    transform: translateY(-700px);
}

.home{

    font-family: 'Lexend Exa', sans-serif;
    font-size:  20px;
    color: #AFAB8E;
    float: right;
    padding: 25px;
}

.about{

    font-family: 'Lexend Exa', sans-serif;
    font-size:  20px;
    color: #AFAB8E;
    float: right;
    padding: 25px;
 
}

.shop{

    font-family: 'Lexend Exa', sans-serif;
    font-size:  20px;
    color: #AFAB8E;
    float: right;
    padding: 25px;

}

a{
    color: #AFAB8E;
    text-decoration:none;
}

.cool-link::before {
    content: '';
    display: block; 
    width: 0; 
    height: 2px;
    background:#AFAB8E;
    transition: width .3s
}


cool-link:hover::after{
    color: #AFAB8E;
    width: 100%;
    transition: width .3s;
}

.change-background{
    background-color: black;
    width: 100%;
    transform: translateY(-100px);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
   
}

.change{

    font-family: 'Lexend Exa', sans-serif;
    text-align: center;
    font-size:  15px;
    color: #AFAB8E;
    background-color: black;
    padding: 50px;
    flex-direction: row;
    transform: translate(-5px,200px);
}


.change-picture{
    font-family: 'Lexend Exa', sans-serif;
    font-size:  50px;
    color: #AFAB8E;
    border-style: solid;
    padding: 100px;
    height: 205px;
    flex-direction: row;

}

.work-background{
    background-color: white;
    width: 100%;
    height: 650px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.work{
    font-family: 'Lexend Exa', sans-serif;
    font-size:  75px;
    color: black;
}


.textWork{
    font-family: 'Lexend Exa', sans-serif;
    font-size:  40px;
    color: black;
    
}

    .textWork{
        font-family: 'Lexend Exa', sans-serif;
        font-size:  35px;
        color: black;
    }


.story-background{
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: black;
    padding-bottom: 100px;
    padding-top: 100px;
    
}

.dev1{
    font-family: 'Lexend Exa', sans-serif;
    color: #AFAB8E;
    font-size: 25px;
    text-align: center;
    justify-content: center;
}


.collection-background{
    background-color:white;
    width: 100%;
    height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.collection-background p{
    font-family: 'Lexend Exa', sans-serif;
    color: black;
    text-align: center;
}

.collection{
    font-size: 100px;
}

.shopNowBackground{
    text-align: center;
    display: flex;
    justify-content: space-evenly;
}
.shopNow{
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    color: black;
    width: 250px;
    border-style: solid;
    text-align: center;
    position: relative;
    transform: translate(20px, 50px);
}

.collection-products{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    transform: translateY(150px);
}
.collection-products img{
    height: 475px;
    width: 200px;
}


#firstImage p{
    transform: translate(50px, -300px);
    background-color: white;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    width: 85px;
    display: none;

}

#secondImage p{
    transform: translate(50px, -300px);
    background-color: white;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    width: 75px;
    display: none;
}

#thirdImage p{
    transform: translate(50px, -300px);
    background-color: white;
    font-family: 'Lexend Exa', sans-serif;
    font-size: 20px;
    width: 75px;
    display: none;
}


.ending-container{
    background-color: black;
    width: 100%;
    height: 150px;
    transform: translateY(700px);
}

.endingText{
    font-family: 'Lexend Exa', sans-serif;
    text-align: center;
    background-color: black;
    height: 150px;
    transform: translateY(200px);
}

#endBar{
    transform: translate(-10px, 200px);
    padding: 50px;
}

@media screen and (max-width: 1024px){
    #endBar{
        transform: translate(-100px, 200px);
        padding: 50px;
    }
}
.endingText p{
    transform: translateY(50px);
    color:white;
}

#collectionBar{
    transform: translate(25px, -100px);
}

@media screen and (max-width: 1024px){
    #collectionBar{
        transform: translateY(-100px);
    }
}

}











/*laptop */
@media screen and (min-width: 901px){
    html, body{
        width: 100%;
        height: 100%;
        margin: 0px;
        padding: 0px; 
        overflow-x: hidden;
    }
    
    .title-background{
        background-color: black;
        height: 700px;
        width: 100%;
        overflow: hidden;
    }
      
    #logo{
        position: absolute;
        color: #AFAB8E;
        font-size: 50px;
        top: 50%;
        left: 50%;
        width: 75%;
        position: static;
        transform: translate(200px, 250px);
        }   
    @media screen and (max-width: 828px){
    
        #logo{
            position: absolute;
            color: #AFAB8E;
            font-size: 50px;
            top: 50%;
            left: 50%;
            width: 75%;
            position: static;
            transform: translate(50px, 250px);
            }   
    }
      
    
    #logo path:nth-child(1){
      stroke-dasharray: 336.6719970703125;
      stroke-dashoffset: 336.6719970703125;
      animation: line-anim 2s ease forwards;
    }
    
    #logo path:nth-child(2){
        stroke-dasharray: 549.06640625;
        stroke-dashoffset: 549.06640625;
        animation: line-anim 2s ease forwards 0.3s;
    }
    
    #logo path:nth-child(3){
        stroke-dasharray: 490.2921142578125;
        stroke-dashoffset: 490.2921142578125;
        animation: line-anim 2s ease forwards 0.6s;
    }
    
    #logo path:nth-child(4){
        stroke-dasharray: 493.913330078125;
        stroke-dashoffset: 493.913330078125;
        animation: line-anim 2s ease forwards 0.9s;
    }
    
    #logo path:nth-child(5){
        stroke-dasharray: 534.5279541015625;
        stroke-dashoffset: 534.5279541015625;
        animation: line-anim 2s ease forwards 1.2s;
    }
    
    #logo path:nth-child(6){
        stroke-dasharray: 534.5279541015625;
        stroke-dashoffset: 534.5279541015625;
        animation: line-anim 2s ease forwards 1.5s;
    }
    
    
    #logo path:nth-child(7){
        stroke-dasharray: 565.9514770507812;
        stroke-dashoffset: 565.9514770507812;
        animation: line-anim 2s ease forwards 1.8s;
    }
    
    #logo path:nth-child(8){
        stroke-dasharray: 549.0670776367188;
        stroke-dashoffset: 549.0670776367188;
        animation: line-anim 2s ease forwards 2.1s;
    }
    
    #logo path:nth-child(9){
        stroke-dasharray: 754.9266357421875;
        stroke-dashoffset: 754.9266357421875;
        animation: line-anim 2s ease forwards 2.4s;
    }
    
    #logo path:nth-child(10){
        stroke-dasharray: 754.9266357421875;
        stroke-dashoffset: 754.9266357421875;
        animation: line-anim 2s ease forwards 2.7s;
    }
    
    #logo path:nth-child(11){
        stroke-dasharray: 549.0673217773438;
        stroke-dashoffset: 549.0673217773438;
        animation: line-anim 2s ease forwards 3.0s;
    }
    
    
    
    #logo path:nth-child(12){
        stroke-dasharray: 549.0673217773438;
        stroke-dashoffset: 549.0673217773438;
        animation: line-anim 2s ease forwards 3.3s;
    }
    
    #logo path:nth-child(13){
        stroke-dasharray: 336.6719970703125;
        stroke-dashoffset: 336.6719970703125;
        animation: line-anim 2s ease forwards 3.8s;
    }
    
    
    #logo path:nth-child(14){
        stroke-dasharray: 490.2921142578125;
        stroke-dashoffset: 490.2921142578125;
        animation: line-anim 2s ease forwards 4.1s;
    }
    
    #logo path:nth-child(15){
        stroke-dasharray: 493.913330078125;
        stroke-dashoffset: 493.913330078125;
        animation: line-anim 2s ease forwards 4.4s;
    }
    
    
    #logo path:nth-child(16){
        stroke-dasharray: 534.5279541015625;
        stroke-dashoffset: 534.5279541015625;
        animation: line-anim 2s ease forwards 4.7s;
    }
    
    
    #logo path:nth-child(17){
        stroke-dasharray: 385.0559997558594;
        stroke-dashoffset: 385.0559997558594;
        animation: line-anim 2s ease forwards 5.0s;
    }
    
    
    #logo path:nth-child(18){
        stroke-dasharray: 565.9514770507812;
        stroke-dashoffset: 565.9514770507812;
        animation: line-anim 2s ease forwards 5.3s;
    }
    
    #logo path:nth-child(19){
        stroke-dasharray: 549.0670776367188;
        stroke-dashoffset: 549.0670776367188;
        animation: line-anim 2s ease forwards 5.6s;
    }
    
    #logo path:nth-child(20){
        stroke-dasharray: 754.9266357421875;
        stroke-dashoffset: 754.9266357421875;
        animation: line-anim 2s ease forwards 5.9s;
    }
    
    #logo path:nth-child(21){
        stroke-dasharray: 463.96795654296875;
        stroke-dashoffset: 463.96795654296875;
        animation: line-anim 2s ease forwards 6.2s;
    }
    
    #logo path:nth-child(22){
        stroke-dasharray: 549.0673217773438;
        stroke-dashoffset: 549.0673217773438;
        animation: line-anim 2s ease forwards 6.5s;
    }
    
    
    
    
    @keyframes line-anim{
        to{
            stroke-dashoffset: 0;
        }
    }
    
    .scrollDown{
       position: relative;
       bottom: 20px;
       left: 50%;
       width: 40px;
       height: 40px;
        transform: translateY(380px) translateX(750px) 
        rotate(45deg);
    }
    
    .scrollDown span{
        position: relative;
        top: 0;
        left: 0; 
        width: 100%;
        height: 100%;
        border-bottom: 2px solid #fff;
        border-right: 2px solid #fff;
        animation: animate 1.5s linear infinite;
        opacity: 0;
    }
    
    .scrollDown span:nth-child(1){
        transform: translate(-15px, 70px);
        animation-delay: -0.4s;
    }
    
    .scrollDown span:nth-child(2){
        transform: translate(0px, 41px);
        animation-delay: -0.2s;
    }
    
    .scrollDown span:nth-child(3){
        transform: translate(15px, 15px);
        animation-delay: 0s;
    }
    
    @keyframes animate{
        0%{
            top: -5px;
            left: -5px;
            opacity: 0;
        }
        25%{
            top: 0px;
            left: 0px;
            opacity: 1;
        }
        50%, 100%{
            top: 5px;
            left: 5px;
            opacity: 0; 
        }
    }
    .bar{
    
        width: 100%;
        height: 50px;
        transform: translateY(-700px);
    }
    
    .home{
    
        font-family: 'Lexend Exa', sans-serif;
        font-size:  20px;
        color: #AFAB8E;
        float: right;
        padding: 25px;
    }
    
    .about{
    
        font-family: 'Lexend Exa', sans-serif;
        font-size:  20px;
        color: #AFAB8E;
        float: right;
        padding: 25px;
     
    }
    
    .shop{
    
        font-family: 'Lexend Exa', sans-serif;
        font-size:  20px;
        color: #AFAB8E;
        float: right;
        padding: 25px;
    
    }
    
    a{
        color: #AFAB8E;
        text-decoration:none;
    }
    
    .cool-link::before {
        content: '';
        display: block; 
        width: 0; 
        height: 2px;
        background:#AFAB8E;
        transition: width .3s
    }
    
    
    cool-link:hover::after{
        color: #AFAB8E;
        width: 100%;
        transition: width .3s;
    }
    
    .change-background{
        background-color: black;
        width: 100%;
        transform: translateY(-100px);
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
       
    }
    
    .change{
    
        font-family: 'Lexend Exa', sans-serif;
        text-align: center;
        font-size:  25px;
        color: #AFAB8E;
        background-color: black;
        padding: 50px;
        flex-direction: row;
        transform: translate(-23px,200px);
    }
    
    
    .change-picture{
        font-family: 'Lexend Exa', sans-serif;
        font-size:  50px;
        color: #AFAB8E;
        border-style: solid;
        padding: 100px;
        height: 205px;
        flex-direction: row;
    
    }
    
    .work-background{
        background-color: white;
        width: 100%;
        height: 650px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }
    @media screen and (max-width: 1024px){
        .work-background{
            background-color: white;
            width: 100%;
            height: 650px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
        }
    }
    
    .work{
        font-family: 'Lexend Exa', sans-serif;
        font-size:  75px;
        color: black;
    }
    
    
    .textWork{
        font-family: 'Lexend Exa', sans-serif;
        font-size:  40px;
        color: black;
        
    }
    
    @media screen and (max-width: 1024px){
        .textWork{
            font-family: 'Lexend Exa', sans-serif;
            font-size:  35px;
            color: black;
        }
    }
    
    .story-background{
        width: 100%;
        height: 500px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: black;
    }
    
    .dev1{
        font-family: 'Lexend Exa', sans-serif;
        color: #AFAB8E;
        font-size: 2vw;
        text-align: center;
        transform: translateY(50px);
    }
    
    
    .collection-background{
        background-color:white;
        width: 100%;
        height: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .collection-background p{
        font-family: 'Lexend Exa', sans-serif;
        color: black;
        text-align: center;
    }
    
    .collection{
        font-size: 100px;
    }
    
    .shopNowBackground{
        text-align: center;
        display: flex;
        justify-content: space-evenly;
    }
    .shopNow{
        font-family: 'Lexend Exa', sans-serif;
        font-size: 20px;
        color: black;
        width: 250px;
        border-style: solid;
        
    }
    
    @media screen and (max-width: 1024px){
        .shopNow{
            font-family: 'Lexend Exa', sans-serif;
            font-size: 20px;
            color: black;
            width: 250px;
            border-style: solid;
            text-align: center;
            position: relative;
            transform: translate(400px, 100px);
        }
    }
    
    .collection-products{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        background-color: white
    }
    .collection-products img{
        height: 600px;
        width: 400px;
    }
    
    @media screen and (max-width: 1024px){
        .collection-products img{
            height: 600px;
            width: 300px;
        }
    }
    
    
    #firstImage p{
        transform: translate(150px, -300px);
        background-color: white;
        font-family: 'Lexend Exa', sans-serif;
        font-size: 20px;
        width: 75px;
        display: none;
    
    }
    @media screen and (max-width: 1024px){
        #firstImage p{
            transform: translate(100px, -300px);
            background-color: white;
            font-family: 'Lexend Exa', sans-serif;
            font-size: 20px;
            width: 75px;
            display: none;
        
        }
    }
    
    @media screen and (max-width: 1024px){
        #secondImage p{
            transform: translate(100px, -300px);
            background-color: white;
            font-family: 'Lexend Exa', sans-serif;
            font-size: 20px;
            width: 75px;
            display: none;
        }
    }
    #secondImage p{
        transform: translate(150px, -300px);
        background-color: white;
        font-family: 'Lexend Exa', sans-serif;
        font-size: 20px;
        width: 75px;
        display: none;
    }
    
    @media screen and (max-width: 1024px){
        #thirdImage p{
            transform: translate(100px, -300px);
            background-color: white;
            font-family: 'Lexend Exa', sans-serif;
            font-size: 20px;
            width: 75px;
            display: none;
        }
    }
    #thirdImage p{
        transform: translate(150px, -300px);
        background-color: white;
        font-family: 'Lexend Exa', sans-serif;
        font-size: 20px;
        width: 75px;
        display: none;
    }
    
    
    .ending-container{
        background-color: black;
        width: 100%;
        height: 150px;
        transform: translateY(700px);
    }
    
    .endingText{
        font-family: 'Lexend Exa', sans-serif;
        text-align: center;
        background-color: black;
        height: 150px;
        transform: translateY(200px);
    }
    
    #endBar{
        transform: translate(-10px, 200px);
        padding: 50px;
    }
    
    @media screen and (max-width: 1024px){
        #endBar{
            transform: translate(-100px, 200px);
            padding: 50px;
        }
    }
    .endingText p{
        transform: translateY(50px);
        color:white;
    }
    
    #collectionBar{
        transform: translate(25px, -100px);
    }
    
    @media screen and (max-width: 1024px){
        #collectionBar{
            transform: translateY(-100px);
        }
    }
}





